@charset "UTF-8";

:root {
   --monospace: Inconsolata, Consolas, "Andale Mono", AndaleMono, monospace;
   --serif: Georgia, Palatino, "Palatino Linotype", "Book Antiqua", Garamond, "Goudy Old Style", Perpetua, Baskerville, Gentium, serif;
}

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

a {
   text-decoration: none;
}

a:active {
   color: #3030a0;
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:link {
   color: #000080;
}

a:visited {
   color: #6060c0;
}

body {
   background-color: #c0c8d0;
   color: #000000;
   font-family: var(--serif);
}

td.against {
   background-color: #d0c0c8;
   font-family: var(--monospace);
}

td.for {
   background-color: #c8d0c0;
   font-family: var(--monospace);
}

td.loss {
   background-color: #d0c0c8;
}

td.win {
   background-color: #c8d0c0;
   font-weight: bold;
}

.cand {
   font-family: var(--monospace);
}

.email {
   font-family: var(--monospace);
}

.endtag {
   font-size: 60%;
   font-style: italic;
   margin-left: 2em;
}

.url {
   font-family: var(--monospace);
}
